<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <script src="js/jquery-1.11.3.min.js"></script>
    <title></title>
    <style>
        *{
            margin:0;
            padding: 0;
        }
        .waterfall-wrapper{
            width: 100%;
            height: auto;
        }
        .waterfall-wrapper ul{
            float: left;
            list-style:none;
            width:50%;

        }
        .waterfall-wrapper ul img{
            width:100%;
        }
    </style>
</head>
<body>
<div class="waterfall-wrapper">
<ul class="left"></ul>
<ul class="right"></ul>
</div>
</body>
<script>
    function imgInit(){
        var imgArray=[
            "images2/111.jpg","images2/222.jpg","images2/333.jpg","images2/444.jpg","images2/555.jpg","images2/666.jpg"
        ];
        $.each(imgArray,function(index,value){
            if((index+1)%2==0){
                $(".right").append("<li><img src="+value+"/><p>书包书包</p></li>")
            }else{
                $(".left").append("<li><img src="+value+"/><p>书包书包</p></li>")
            }
        })
    }
    imgInit();

</script>
</html>