<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <title>参与的公益</title>
    <link rel="stylesheet" href="css/main.min.css" />
    <link rel="stylesheet" href="css/detail.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <style>
        @font-face {
            font-family: 'iconfont';
            src: url('font/iconfont.eot'); /* IE9*/
            src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/iconfont.woff') format('woff'), /* chrome、firefox */ url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
        }

        .iconfont {
            font-family: "iconfont" !important;
            font-size: 16px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
</head>
<body>
<div class="myzan-page-wrapper toheader">
    <ul>
        <li class="myzan-product"><span class=" myzan-active">商品</span></li>
        <li class="myzan-say"><span>说说</span></li>
        <li class="myzan-unused"><span >闲置</span></li>
    </ul>
</div>
<div class="myzan-list-content">
    <div class="my-joined-charity-list myzan-product-list" id="myzan-product">
        <section class="my-charity-list">
            <div class="my-charity-container">
                <div class="donation-image">
                    <img src="images2/charity-joinedcharity.jpg"/>
                </div>
                <div class="donation-item">
                    <p>宝宝哈衣长袖睡衣爬爬服3个月0-1岁宝宝哈</p>

                    <p>¥ 95.00</p>
                </div>
                <div class="my-charity myzan-product-container">
                    <i class="iconfont">&#xe622;</i>
                </div>
            </div>
        </section>
        <section class="my-charity-list">
            <div class="my-charity-container">
                <div class="donation-image">
                    <img src="images2/charity-joinedcharity.jpg"/>
                </div>
                <div class="donation-item">
                    <p>宝宝哈衣长袖睡衣爬爬服3个月0-1岁宝宝哈</p>

                    <p>¥ 95.00</p>
                </div>
                <div class="my-charity myzan-product-container myzan-delete-zan">
                    <i class="iconfont">&#xe622;</i>
                </div>
            </div>
        </section>
        <section class="my-charity-list">
            <div class="my-charity-container">
                <div class="donation-image">
                    <img src="images2/charity-joinedcharity.jpg"/>
                </div>
                <div class="donation-item">
                    <p>宝宝哈衣长袖睡衣爬爬服3个月0-1岁宝宝哈</p>

                    <p>¥ 95.00</p>
                </div>
                <div class="my-charity myzan-product-container">
                    <i class="iconfont">&#xe622;</i>
                </div>
            </div>
        </section>
    </div>
    <div class="product comment myzan-list" id="myzan-say" style="display: none">

        <ul class="productitem qxtopspace" id="MyPraiseList">
            <li class="item" id="hashitem_4476true">
                <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10031" class="ui-link">
                    <div class="avatar "><img
                            src="http://cdn.other.img.95laibei.com/160809174346335366.png@!standard_square_s"></div>
                    <div class="nickname"><p class="name">崔玉涛课堂小知识<span></span></p>

                        <p class="time">1天前</p></div>
                </a></div>
                <a href="http://mweb.95laibei.com/Article/Detail/4476" class="ui-link">
                    <div class="productimg oneimg"><img
                            src="http://cdn.article.img.95laibei.com/160920153954620692.jpg@!standard_rectangle_m" alt="">
                    </div>
                    <div class="detail"><p class="ellipsis">
                        反复出现荨麻疹，应考虑过敏所致。过敏是免疫异常增强，不是免疫低下，不能使用免疫增强剂。应该抽血进行过敏原检测。了解过敏原，才可能远离过敏原，才能预防荨麻疹再次出现。再有，服活性益生菌具有治疗过敏的功效。出荨麻疹时，可以服抗过敏药物--西替利嗪等；也可外涂激素等药物。#崔玉涛谈过敏#</p>
                    </div>
                </a>

                <div class="extend bordertop">
                    <div class="location">来自</div>
                    <div class="spread"><span class="title_forward"><a
                            href="http://mweb.95laibei.com/Article/Forward/4476?ForwardId=4476&amp;Type=0"
                            class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                         onclick="Global_CommentHelper.Comment(this)"
                                                                                         data-isarticle="true"
                                                                                         data-id="4476"><i class="iconfont"> </i>评论</span><span
                            class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4476"
                            data-isarticle="true"><i class="likeicon"></i>1</span></div>
                </div>
            </li>
            <li class="item" id="hashitem_4525true">
                <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10054" class="ui-link">
                    <div class="avatar "><img src="http://mweb.95laibei.com/Content/Images/default_face.png"></div>
                    <div class="nickname"><p class="name">葡萄<span></span></p>

                        <p class="time">1天前</p></div>
                </a></div>
                <a href="http://mweb.95laibei.com/Article/Detail/4525" class="ui-link">
                    <div class="productimg oneimg"><img
                            src="http://cdn.article.img.95laibei.com/160929062444973317.jpg@!standard_rectangle_m" alt="">
                    </div>
                    <div class="detail"><p class="ellipsis">起来准备给宝宝准备早餐啦</p></div>
                </a>

                <div class="extend bordertop">
                    <div class="location">来自杭州市</div>
                    <div class="spread"><span class="title_forward"><a
                            href="http://mweb.95laibei.com/Article/Forward/4525?ForwardId=4525&amp;Type=0"
                            class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                         onclick="Global_CommentHelper.Comment(this)"
                                                                                         data-isarticle="true"
                                                                                         data-id="4525"><i class="iconfont"> </i>评论</span><span
                            class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4525"
                            data-isarticle="true"><i class="likeicon"></i>3</span></div>
                </div>
            </li>
            <li class="item" id="hashitem_4521true">
                <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10025" class="ui-link">
                    <div class="avatar "><img
                            src="http://cdn.other.img.95laibei.com/160809144213289261.jpg@!standard_square_s"></div>
                    <div class="nickname"><p class="name">baby辅食<span></span></p>

                        <p class="time">1天前</p></div>
                </a></div>
                <a href="http://mweb.95laibei.com/Article/Detail/4521" class="ui-link">
                    <div class="productimg oneimg"><img
                            src="http://cdn.article.img.95laibei.com/160928173029961989.jpg@!standard_rectangle_m" alt="">
                    </div>
                    <div class="detail"><p class="ellipsis">
                        【南瓜浓汤】适合8个月以上的宝宝，苹果中营养成份可溶性大，易被人体吸收，故有“活水”之称，南瓜中含有丰富的锌，为人体生长发育的重要物质、土豆中蛋白质营养价值高，容易消化、吸收，优于其他作物的蛋白质。南瓜浓汤奶香浓郁、好消化好吸收</p>
                    </div>
                </a>

                <div class="extend bordertop">
                    <div class="location">来自</div>
                    <div class="spread"><span class="title_forward"><a
                            href="http://mweb.95laibei.com/Article/Forward/4521?ForwardId=4521&amp;Type=0"
                            class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                         onclick="Global_CommentHelper.Comment(this)"
                                                                                         data-isarticle="true"
                                                                                         data-id="4521"><i class="iconfont"> </i>评论</span><span
                            class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4521"
                            data-isarticle="true"><i class="likeicon"></i>1</span></div>
                </div>
            </li>
            <li class="item" id="hashitem_4439false">
                <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10432" class="ui-link">
                    <div class="avatar "><img src="http://mweb.95laibei.com/Content/Images/default_face.png"></div>
                    <div class="nickname"><p class="name">159****0918<span></span></p>

                        <p class="time">20天前</p></div>
                </a>

                    <div class="price"><span>¥ 1</span></div>
                </div>
                <a href="http://mweb.95laibei.com/Product/Detail/4439" class="ui-link">
                    <div class="productimg oneimg"><img
                            src="http://cdn.article.img.95laibei.com/160909170503260172.jpg@!standard_rectangle_m" alt="">
                    </div>
                    <div class="detail"><p class="ellipsis">假的假的假的假的假的</p></div>
                </a>

                <div class="extend bordertop">
                    <div class="location">来自杭州市</div>
                    <div class="spread"><span class="title_forward"><a
                            href="http://mweb.95laibei.com/Article/Forward/4439?ForwardId=4439&amp;Type=1"
                            class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                         onclick="Global_CommentHelper.Comment(this)"
                                                                                         data-isarticle="false"
                                                                                         data-id="4439"><i class="iconfont"> </i>1</span><span
                            class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4439"
                            data-isarticle="false"><i class="likeicon"></i>1</span></div>
                </div>
            </li>
            <li class="item" id="hashitem_4475false">
                <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/11142" class="ui-link">
                    <div class="avatar "><img src="http://mweb.95laibei.com/Content/Images/default_face.png"></div>
                    <div class="nickname"><p class="name">159****8631<span></span></p>

                        <p class="time">1天前</p></div>
                </a>

                    <div class="price"><span>¥ 50</span></div>
                </div>
                <a href="http://mweb.95laibei.com/Product/Detail/4475" class="ui-link">
                    <div class="productimg oneimg"><img
                            src="http://cdn.article.img.95laibei.com/160928174939831961.jpg@!standard_rectangle_m" alt="">
                    </div>
                    <div class="detail"><p class="ellipsis">400个海洋球和大号海洋池</p></div>
                </a>

                <div class="extend bordertop">
                    <div class="location">来自天津市</div>
                    <div class="spread"><span class="title_forward"><a
                            href="http://mweb.95laibei.com/Article/Forward/4475?ForwardId=4475&amp;Type=1"
                            class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                         onclick="Global_CommentHelper.Comment(this)"
                                                                                         data-isarticle="false"
                                                                                         data-id="4475"><i class="iconfont"> </i>评论</span><span
                            class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4475"
                            data-isarticle="false"><i class="likeicon"></i>1</span></div>
                </div>
            </li>
            <li class="item" id="hashitem_4513true">
                <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10412" class="ui-link">
                    <div class="avatar "><img src="http://mweb.95laibei.com/Content/Images/default_face.png"></div>
                    <div class="nickname"><p class="name">183****1521<span></span></p>

                        <p class="time">4天前</p></div>
                </a></div>
                <a href="http://mweb.95laibei.com/Article/Detail/4513" class="ui-link">
                    <div class="productimg oneimg"></div>
                    <div class="detail"><p class="ellipsis">积木有助于智力的开发。</p></div>
                </a>

                <div class="productitem bgef"><a href="http://mweb.95laibei.com/Product/Detail/4448" class="ui-link">
                    <div class="productimg moreimg thumb"><img
                            src="http://cdn.product.img.95laibei.com/160919175631449127.jpg@!standard_square_m" alt=""><img
                            src="http://cdn.product.img.95laibei.com/160919175632681200.jpg@!standard_square_m" alt=""><img
                            src="http://cdn.product.img.95laibei.com/160919175633529527.jpg@!standard_square_m" alt="">
                    </div>
                    <div class="detail"><p class="ellipsis"><span class="at">@童心飞扬</span>LEGO积木来自童话王国丹麦 益智多趣，开拓孩子无限想象力</p>
                    </div>
                </a></div>
                <div class="extend bordertop">
                    <div class="location">来自</div>
                    <div class="spread"><span class="title_forward"><a
                            href="http://mweb.95laibei.com/Article/Forward/4448?ForwardId=4513&amp;Type=1"
                            class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                         onclick="Global_CommentHelper.Comment(this)"
                                                                                         data-isarticle="true"
                                                                                         data-id="4513"><i class="iconfont"> </i>1</span><span
                            class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4513"
                            data-isarticle="true"><i class="likeicon"></i>1</span></div>
                </div>
            </li>
            <li class="item" id="hashitem_4356false">
                <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10052" class="ui-link">
                    <div class="avatar "><img
                            src="http://cdn.other.img.95laibei.com/160902141104237252.jpg@!standard_square_s"></div>
                    <div class="nickname"><p class="name">MABABY<span></span></p>

                        <p class="time">4小时前</p></div>
                </a>

                    <div class="price"><span>¥ 118</span></div>
                </div>
                <a href="http://mweb.95laibei.com/Product/Detail/4356" class="ui-link">
                    <div class="productimg moreimg thumb"><img
                            src="http://cdn.product.img.95laibei.com/160817120455889320.jpg@!standard_square_m" alt=""><img
                            src="http://cdn.product.img.95laibei.com/160817120456395891.jpg@!standard_square_m" alt=""><img
                            src="http://cdn.product.img.95laibei.com/160817120458336829.jpg@!standard_square_m" alt="">
                    </div>
                    <div class="detail"><p class="ellipsis">哈罗闪洗浴二合一+护肤乳+护臀膏三件套一站购齐 劲爆低价
                        国庆期间物流放假，我们的优选平台在10.1-10.3仅支持下单，发货日期将暂缓至10.4日。</p></div>
                </a>

                <div class="extend bordertop">
                    <div class="location">来自杭州市</div>
                    <div class="spread"><span class="title_forward"><a
                            href="http://mweb.95laibei.com/Article/Forward/4356?ForwardId=4356&amp;Type=1"
                            class="ui-link"><i class="iconfont"> </i>2</a></span><span class="title_comment"
                                                                                        onclick="Global_CommentHelper.Comment(this)"
                                                                                        data-isarticle="false"
                                                                                        data-id="4356"><i
                            class="iconfont"> </i>4</span><span class="title_like"
                                                                 onclick="Global_CommonHelper.ListPagePraise(this)"
                                                                 data-id="4356" data-isarticle="false"><i
                            class="likeicon"></i>8</span></div>
                </div>
            </li>
            <li class="item" id="hashitem_4369false">
                <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10055" class="ui-link">
                    <div class="avatar "><img
                            src="http://cdn.other.img.95laibei.com/160902144014504994.jpg@!standard_square_s"></div>
                    <div class="nickname"><p class="name">同步玩具店<span></span></p>

                        <p class="time">4小时前</p></div>
                </a>

                    <div class="price"><span>¥ 95</span></div>
                </div>
                <a href="http://mweb.95laibei.com/Product/Detail/4369" class="ui-link">
                    <div class="productimg moreimg thumb"><img
                            src="http://cdn.product.img.95laibei.com/160819120424267016.jpg@!standard_square_m" alt=""><img
                            src="http://cdn.product.img.95laibei.com/160819120424662284.jpg@!standard_square_m" alt=""><img
                            src="http://cdn.product.img.95laibei.com/160819120427705114.jpg@!standard_square_m" alt="">
                    </div>
                    <div class="detail"><p class="ellipsis">有三款可以选择 会摇尾巴会撒娇 会汪汪叫 会抬腿走撒尿状 你吓 它它会爬在地上做警惕状
                        国庆期间物流放假，我们的优选平台在10.1-10.4仅支持下单，发货日期将暂缓至10.5日。</p></div>
                </a>

                <div class="extend bordertop">
                    <div class="location">来自杭州市</div>
                    <div class="spread"><span class="title_forward"><a href="#"
                            class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"><i class="iconfont"> </i>1</span><span
                            class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4369"
                            data-isarticle="false"><i class="likeicon"></i>2</span></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="product comment myzan-list" id="myzan-unused" style="display: none">

            <ul class="productitem qxtopspace" id="MyPraiseList">
                <li class="item" id="hashitem_4476true">
                    <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10031" class="ui-link">
                        <div class="avatar "><img
                                src="http://cdn.other.img.95laibei.com/160809174346335366.png@!standard_square_s"></div>
                        <div class="nickname"><p class="name">崔玉涛课堂小知识<span></span></p>

                            <p class="time">1天前</p></div>
                    </a></div>
                    <a href="http://mweb.95laibei.com/Article/Detail/4476" class="ui-link">
                        <div class="productimg oneimg"><img
                                src="http://cdn.article.img.95laibei.com/160920153954620692.jpg@!standard_rectangle_m" alt="">
                        </div>
                        <div class="detail"><p class="ellipsis">
                            反复出现荨麻疹，应考虑过敏所致。过敏是免疫异常增强，不是免疫低下，不能使用免疫增强剂。应该抽血进行过敏原检测。了解过敏原，才可能远离过敏原，才能预防荨麻疹再次出现。再有，服活性益生菌具有治疗过敏的功效。出荨麻疹时，可以服抗过敏药物--西替利嗪等；也可外涂激素等药物。#崔玉涛谈过敏#</p>
                        </div>
                    </a>

                    <div class="extend bordertop">
                        <div class="location">来自</div>
                        <div class="spread"><span class="title_forward"><a
                                href="http://mweb.95laibei.com/Article/Forward/4476?ForwardId=4476&amp;Type=0"
                                class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                             onclick="Global_CommentHelper.Comment(this)"
                                                                                             data-isarticle="true"
                                                                                             data-id="4476"><i class="iconfont"> </i>评论</span><span
                                class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4476"
                                data-isarticle="true"><i class="likeicon"></i>1</span></div>
                    </div>
                </li>
                <li class="item" id="hashitem_4525true">
                    <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10054" class="ui-link">
                        <div class="avatar "><img src="http://mweb.95laibei.com/Content/Images/default_face.png"></div>
                        <div class="nickname"><p class="name">葡萄<span></span></p>

                            <p class="time">1天前</p></div>
                    </a></div>
                    <a href="http://mweb.95laibei.com/Article/Detail/4525" class="ui-link">
                        <div class="productimg oneimg"><img
                                src="http://cdn.article.img.95laibei.com/160929062444973317.jpg@!standard_rectangle_m" alt="">
                        </div>
                        <div class="detail"><p class="ellipsis">起来准备给宝宝准备早餐啦</p></div>
                    </a>

                    <div class="extend bordertop">
                        <div class="location">来自杭州市</div>
                        <div class="spread"><span class="title_forward"><a
                                href="http://mweb.95laibei.com/Article/Forward/4525?ForwardId=4525&amp;Type=0"
                                class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                             onclick="Global_CommentHelper.Comment(this)"
                                                                                             data-isarticle="true"
                                                                                             data-id="4525"><i class="iconfont"> </i>评论</span><span
                                class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4525"
                                data-isarticle="true"><i class="likeicon"></i>3</span></div>
                    </div>
                </li>
                <li class="item" id="hashitem_4521true">
                    <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10025" class="ui-link">
                        <div class="avatar "><img
                                src="http://cdn.other.img.95laibei.com/160809144213289261.jpg@!standard_square_s"></div>
                        <div class="nickname"><p class="name">baby辅食<span></span></p>

                            <p class="time">1天前</p></div>
                    </a></div>
                    <a href="http://mweb.95laibei.com/Article/Detail/4521" class="ui-link">
                        <div class="productimg oneimg"><img
                                src="http://cdn.article.img.95laibei.com/160928173029961989.jpg@!standard_rectangle_m" alt="">
                        </div>
                        <div class="detail"><p class="ellipsis">
                            【南瓜浓汤】适合8个月以上的宝宝，苹果中营养成份可溶性大，易被人体吸收，故有“活水”之称，南瓜中含有丰富的锌，为人体生长发育的重要物质、土豆中蛋白质营养价值高，容易消化、吸收，优于其他作物的蛋白质。南瓜浓汤奶香浓郁、好消化好吸收</p>
                        </div>
                    </a>

                    <div class="extend bordertop">
                        <div class="location">来自</div>
                        <div class="spread"><span class="title_forward"><a
                                href="http://mweb.95laibei.com/Article/Forward/4521?ForwardId=4521&amp;Type=0"
                                class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                             onclick="Global_CommentHelper.Comment(this)"
                                                                                             data-isarticle="true"
                                                                                             data-id="4521"><i class="iconfont"> </i>评论</span><span
                                class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4521"
                                data-isarticle="true"><i class="likeicon"></i>1</span></div>
                    </div>
                </li>
                <li class="item" id="hashitem_4439false">
                    <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10432" class="ui-link">
                        <div class="avatar "><img src="http://mweb.95laibei.com/Content/Images/default_face.png"></div>
                        <div class="nickname"><p class="name">159****0918<span></span></p>

                            <p class="time">20天前</p></div>
                    </a>

                        <div class="price"><span>¥ 1</span></div>
                    </div>
                    <a href="http://mweb.95laibei.com/Product/Detail/4439" class="ui-link">
                        <div class="productimg oneimg"><img
                                src="http://cdn.article.img.95laibei.com/160909170503260172.jpg@!standard_rectangle_m" alt="">
                        </div>
                        <div class="detail"><p class="ellipsis">假的假的假的假的假的</p></div>
                    </a>

                    <div class="extend bordertop">
                        <div class="location">来自杭州市</div>
                        <div class="spread"><span class="title_forward"><a
                                href="http://mweb.95laibei.com/Article/Forward/4439?ForwardId=4439&amp;Type=1"
                                class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                             onclick="Global_CommentHelper.Comment(this)"
                                                                                             data-isarticle="false"
                                                                                             data-id="4439"><i class="iconfont"> </i>1</span><span
                                class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4439"
                                data-isarticle="false"><i class="likeicon"></i>1</span></div>
                    </div>
                </li>
                <li class="item" id="hashitem_4475false">
                    <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/11142" class="ui-link">
                        <div class="avatar "><img src="http://mweb.95laibei.com/Content/Images/default_face.png"></div>
                        <div class="nickname"><p class="name">159****8631<span></span></p>

                            <p class="time">1天前</p></div>
                    </a>

                        <div class="price"><span>¥ 50</span></div>
                    </div>
                    <a href="http://mweb.95laibei.com/Product/Detail/4475" class="ui-link">
                        <div class="productimg oneimg"><img
                                src="http://cdn.article.img.95laibei.com/160928174939831961.jpg@!standard_rectangle_m" alt="">
                        </div>
                        <div class="detail"><p class="ellipsis">400个海洋球和大号海洋池</p></div>
                    </a>

                    <div class="extend bordertop">
                        <div class="location">来自天津市</div>
                        <div class="spread"><span class="title_forward"><a
                                href="http://mweb.95laibei.com/Article/Forward/4475?ForwardId=4475&amp;Type=1"
                                class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                             onclick="Global_CommentHelper.Comment(this)"
                                                                                             data-isarticle="false"
                                                                                             data-id="4475"><i class="iconfont"> </i>评论</span><span
                                class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4475"
                                data-isarticle="false"><i class="likeicon"></i>1</span></div>
                    </div>
                </li>
                <li class="item" id="hashitem_4513true">
                    <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10412" class="ui-link">
                        <div class="avatar "><img src="http://mweb.95laibei.com/Content/Images/default_face.png"></div>
                        <div class="nickname"><p class="name">183****1521<span></span></p>

                            <p class="time">4天前</p></div>
                    </a></div>
                    <a href="http://mweb.95laibei.com/Article/Detail/4513" class="ui-link">
                        <div class="productimg oneimg"></div>
                        <div class="detail"><p class="ellipsis">积木有助于智力的开发。</p></div>
                    </a>

                    <div class="productitem bgef"><a href="http://mweb.95laibei.com/Product/Detail/4448" class="ui-link">
                        <div class="productimg moreimg thumb"><img
                                src="http://cdn.product.img.95laibei.com/160919175631449127.jpg@!standard_square_m" alt=""><img
                                src="http://cdn.product.img.95laibei.com/160919175632681200.jpg@!standard_square_m" alt=""><img
                                src="http://cdn.product.img.95laibei.com/160919175633529527.jpg@!standard_square_m" alt="">
                        </div>
                        <div class="detail"><p class="ellipsis"><span class="at">@童心飞扬</span>LEGO积木来自童话王国丹麦 益智多趣，开拓孩子无限想象力</p>
                        </div>
                    </a></div>
                    <div class="extend bordertop">
                        <div class="location">来自</div>
                        <div class="spread"><span class="title_forward"><a
                                href="http://mweb.95laibei.com/Article/Forward/4448?ForwardId=4513&amp;Type=1"
                                class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"
                                                                                             onclick="Global_CommentHelper.Comment(this)"
                                                                                             data-isarticle="true"
                                                                                             data-id="4513"><i class="iconfont"> </i>1</span><span
                                class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4513"
                                data-isarticle="true"><i class="likeicon"></i>1</span></div>
                    </div>
                </li>
                <li class="item" id="hashitem_4356false">
                    <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10052" class="ui-link">
                        <div class="avatar "><img
                                src="http://cdn.other.img.95laibei.com/160902141104237252.jpg@!standard_square_s"></div>
                        <div class="nickname"><p class="name">MABABY<span></span></p>

                            <p class="time">4小时前</p></div>
                    </a>

                        <div class="price"><span>¥ 118</span></div>
                    </div>
                    <a href="http://mweb.95laibei.com/Product/Detail/4356" class="ui-link">
                        <div class="productimg moreimg thumb"><img
                                src="http://cdn.product.img.95laibei.com/160817120455889320.jpg@!standard_square_m" alt=""><img
                                src="http://cdn.product.img.95laibei.com/160817120456395891.jpg@!standard_square_m" alt=""><img
                                src="http://cdn.product.img.95laibei.com/160817120458336829.jpg@!standard_square_m" alt="">
                        </div>
                        <div class="detail"><p class="ellipsis">哈罗闪洗浴二合一+护肤乳+护臀膏三件套一站购齐 劲爆低价
                            国庆期间物流放假，我们的优选平台在10.1-10.3仅支持下单，发货日期将暂缓至10.4日。</p></div>
                    </a>

                    <div class="extend bordertop">
                        <div class="location">来自杭州市</div>
                        <div class="spread"><span class="title_forward"><a
                                href="http://mweb.95laibei.com/Article/Forward/4356?ForwardId=4356&amp;Type=1"
                                class="ui-link"><i class="iconfont"> </i>2</a></span><span class="title_comment"
                                                                                            onclick="Global_CommentHelper.Comment(this)"
                                                                                            data-isarticle="false"
                                                                                            data-id="4356"><i
                                class="iconfont"> </i>4</span><span class="title_like"
                                                                     onclick="Global_CommonHelper.ListPagePraise(this)"
                                                                     data-id="4356" data-isarticle="false"><i
                                class="likeicon"></i>8</span></div>
                    </div>
                </li>
                <li class="item" id="hashitem_4369false">
                    <div class="info clearfix"><a href="http://mweb.95laibei.com/My/PersonalIn/10055" class="ui-link">
                        <div class="avatar "><img
                                src="http://cdn.other.img.95laibei.com/160902144014504994.jpg@!standard_square_s"></div>
                        <div class="nickname"><p class="name">同步玩具店<span></span></p>

                            <p class="time">4小时前</p></div>
                    </a>

                        <div class="price"><span>¥ 95</span></div>
                    </div>
                    <a href="http://mweb.95laibei.com/Product/Detail/4369" class="ui-link">
                        <div class="productimg moreimg thumb"><img
                                src="http://cdn.product.img.95laibei.com/160819120424267016.jpg@!standard_square_m" alt=""><img
                                src="http://cdn.product.img.95laibei.com/160819120424662284.jpg@!standard_square_m" alt=""><img
                                src="http://cdn.product.img.95laibei.com/160819120427705114.jpg@!standard_square_m" alt="">
                        </div>
                        <div class="detail"><p class="ellipsis">有三款可以选择 会摇尾巴会撒娇 会汪汪叫 会抬腿走撒尿状 你吓 它它会爬在地上做警惕状
                            国庆期间物流放假，我们的优选平台在10.1-10.4仅支持下单，发货日期将暂缓至10.5日。</p></div>
                    </a>

                    <div class="extend bordertop">
                        <div class="location">来自杭州市</div>
                        <div class="spread"><span class="title_forward"><a href="#"
                                                                           class="ui-link"><i class="iconfont"> </i>转发</a></span><span class="title_comment"><i class="iconfont"> </i>1</span><span
                                class="title_like" onclick="Global_CommonHelper.ListPagePraise(this)" data-id="4369"
                                data-isarticle="false"><i class="likeicon"></i>2</span></div>
                    </div>
                </li>
            </ul>
        </div>
</div>
<script>
    /*头部商品-说说-闲置的点击切换*/
    $(".myzan-page-wrapper>ul>li>span").click(function(){
        $(this).addClass("myzan-active").parent().siblings().children().removeClass("myzan-active");
        var $showClass= "#"+$(this).parent().attr("class");
       $($showClass).show().siblings().hide();
    })
</script>

<script>
    //设置html fontSize
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = (clientWidth / 7.5) + 'px';
                };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(function () {
        $(".project-detail h2").addClass("project-active");
        $(".detail-project-title h2").click(function () {
            $(this).addClass("project-active");
            $(this).parent().siblings().children("h2").removeClass("project-active");
            var $item = "#" + $(this).parent().attr("class");
            $($item).css("display", "block");
            $($item).siblings().hide()
        })
    })
</script>
</body>
</html>