<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <title>九五回馈</title>
    <link  rel="stylesheet" href="/css/main.min.css" />
    <link rel="stylesheet" href="/css/feedback.css">
    <script src="/js/common.min.js"></script>
    <script src="/js/main.min.js"></script>
</head>
<body>
<div class="feedback-wrapper">
    <div class="feedback-content">
        <div>
            <span>上传照片</span>
            <div>
                <!--<img src="/images5/feedback-upload.png" />-->
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    //设置html fontSize
(function (doc, win) {
    var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                docEl.style.fontSize = (clientWidth / 7.5) + 'px';
            };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);

    //必须带上的
    function InitPagebeforeCreate() {

    }
    function InitPageShow() {

    }

</script>
</body>
</html>