<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <title>双十一砍价活动</title>
    <link  rel="stylesheet" href="/css/main.min.css" />
    <link rel="stylesheet" href="/css/bargin.css">
    <script src="/js/common.min.js"></script>
    <script src="/js/main.min.js"></script>
    <!--<script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>-->
    <script>
        //设置html fontSize
        (function (doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        docEl.style.fontSize = (clientWidth / 7.5) + 'px';
                    };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
<div class="bargin-wrapper">
    <section class="bargin-banner">
        <img src="/images4/bargain-banner.jpg" />
        <section class="countdown">
            <p>距活动结束仅剩</p>
                <span class="countday">
                    <span class="position">0</span>
                    <span class="position">0</span>
                </span>
            <span>天</span>
                <span class="countday">
                    <span class="position">0</span>
                    <span class="position">0</span>
                </span>
            <span>时</span>
                <span class="countday">
                    <span class="position">0</span>
                    <span class="position">0</span>
                </span>
            <span>分</span>
                <span class="countday">
                    <span class="position">0</span>
                    <span class="position">0</span>
                </span>
            <span>秒</span>
        </section>
    </section>

    <section class="bargin-product-list">
        <div class="gift-package-list">
            <section class="gift-package-item">
                <div class="gift-package-item-container clearfix">
                    <img src="/images3/gift-pakage-jimuj.jpg" />
                    <p class="gift-package-item-title gift-package-word">LEGO乐高积木</p>
                    <p class="gift-package-item-desc gift-package-word">安全无毒防吞咽<br />提高动手能力</p>
                    <p class="gift-package-item-oldprice gift-package-word">¥229.00</p>
                    <p class="gift-package-item-price gift-package-word">¥ 162.00</p>
                    <a class="gift-package-item-buynow bargin-product-purchase" href="http://mweb.95laibei.com/Product/Detail/4448">
                        <span class="gift-package-item-buynow-word">立即</span><br />
                        <span class="gift-package-item-buynow-word">购买</span>
                    </a>
                    <a class="gift-package-item-buynow" href="#">
                        <span class="gift-package-item-buynow-word bargin-purchase">砍</span>
                    </a>
                    <p class="bargin-price">消耗8贝壳/次</p>
                </div>
            </section>
            <section class="gift-package-item">
                <div class="gift-package-item-container clearfix">
                    <img src="/images3/gift-pakage-jimuj.jpg" />
                    <p class="gift-package-item-title gift-package-word">LEGO乐高积木</p>
                    <p class="gift-package-item-desc gift-package-word">安全无毒防吞咽<br />提高动手能力</p>
                    <p class="gift-package-item-oldprice gift-package-word">¥229.00</p>
                    <p class="gift-package-item-price gift-package-word">¥ 162.00</p>
                    <a class="gift-package-item-buynow bargin-product-purchase" href="http://mweb.95laibei.com/Product/Detail/4448">
                        <span class="gift-package-item-buynow-word">立即</span><br />
                        <span class="gift-package-item-buynow-word">购买</span>
                    </a>
                    <a class="gift-package-item-buynow" href="#">
                        <span class="gift-package-item-buynow-word bargin-purchase">砍</span>
                    </a>
                    <p class="bargin-price">消耗8贝壳/次</p>
                </div>
            </section>
            <section class="gift-package-item">
                <div class="gift-package-item-container clearfix">
                    <img src="/images3/gift-pakage-jimuj.jpg" />
                    <p class="gift-package-item-title gift-package-word">LEGO乐高积木</p>
                    <p class="gift-package-item-desc gift-package-word">安全无毒防吞咽<br />提高动手能力</p>
                    <p class="gift-package-item-oldprice gift-package-word">¥229.00</p>
                    <p class="gift-package-item-price gift-package-word">¥ 162.00</p>
                    <a class="gift-package-item-buynow bargin-product-purchase" href="http://mweb.95laibei.com/Product/Detail/4448">
                        <span class="gift-package-item-buynow-word">立即</span><br />
                        <span class="gift-package-item-buynow-word">购买</span>
                    </a>
                    <a class="gift-package-item-buynow" href="#">
                        <span class="gift-package-item-buynow-word bargin-purchase">砍</span>
                    </a>
                    <p class="bargin-price">消耗8贝壳/次</p>
                </div>
            </section>
            <section class="gift-package-item">
                <div class="gift-package-item-container clearfix">
                    <img src="/images3/gift-pakage-jimuj.jpg" />
                    <p class="gift-package-item-title gift-package-word">LEGO乐高积木</p>
                    <p class="gift-package-item-desc gift-package-word">安全无毒防吞咽<br />提高动手能力</p>
                    <p class="gift-package-item-oldprice gift-package-word">¥229.00</p>
                    <p class="gift-package-item-price gift-package-word">¥ 162.00</p>
                    <a class="gift-package-item-buynow bargin-product-purchase" href="http://mweb.95laibei.com/Product/Detail/4448">
                        <span class="gift-package-item-buynow-word">立即</span><br />
                        <span class="gift-package-item-buynow-word">购买</span>
                    </a>
                    <a class="gift-package-item-buynow" href="#">
                        <span class="gift-package-item-buynow-word bargin-purchase">砍</span>
                    </a>
                    <p class="bargin-price">消耗8贝壳/次</p>
                </div>
            </section>
        </div>
        <div class="bargin-desc">
            <div class="bargin-desc-title"><span>活动规则</span></div>
            <div class="bargin-desc-detail">
                <p>一、每人每天可砍价2次 ，每砍一次需要消耗8贝壳；</p>
                <p>二、每天可以邀请10位不同的好友帮忙砍价，每位好友对不同商品有一次砍价机会；</p>
                <p>三、请仔细阅读使用规则，如果有疑问，可直接联系客服专线：0571-86537095；</p>
                <p>四、此活动为概率中奖，金额有限，祝好运！</p>
            </div>
        </div>
    </section>
</div>
<div class="laibeimask" style="display: none"></div>
<div class="alertbox alertbox1" style="display: none">
    <img src="/images4/bargin-alert1.jpg" />
    <p>你的账户贝壳余额不足</p>
    <a href="#" class="bargin-make">去赚贝壳</a>
    <a href="#" class="bargin-help">邀请好友助力</a>
</div>
<div class="alertbox alertbox2" style="display: none">
    <div>
        <h1>恭喜你成功砍掉</h1>
        <h2>50贝壳</h2>
        <p>快分享到朋友圈<br/>让朋友帮你一起砍价吧</p>
        <a href="#">去分享</a>
    </div>
</div>
<div class="alertbox alertbox2" style="display: none">
    <div>
        <h1>恭喜你成功砍掉</h1>
        <h2>50贝壳</h2>
        <p>快分享到朋友圈<br/>让朋友帮你一起砍价吧</p>
        <a href="#">去分享</a>
        <a href="#" class="bargin-participent">我要参与</a>
    </div>
</div>

<script type="text/javascript">
$(function(){
    console.log("bbb")
    $(".bargin-desc p").click(function(){
        console.log("aaa")
        $(".laibeimask").css("display","block");
        $(".alertbox1").css("display","block");
        $(".bargin-price").css("display","none");
    })
})

    //必须带上的
    function InitPagebeforeCreate() {

    }
    function InitPageShow() {

    }

</script>
</body>
</html>