<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <title>双十一砍价活动</title>
    <link  rel="stylesheet" href="/css/main.min.css" />
    <link rel="stylesheet" href="/css/bargin.css">
    <!--<script src="/js/common.min.js"></script>
    <script src="/js/main.min.js"></script>-->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>
    <script>
        //设置html fontSize
        (function (doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        docEl.style.fontSize = (clientWidth / 7.5) + 'px';
                    };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>

</head>
<body>
<div class="bargin-wrapper">
    <section class="bargin-banner">
        <img src="/images4/bargain-banner.jpg" />
        <section class="countdown">
            <p>距活动结束仅剩</p>
                <span class="countday">
                    <span class="position">0</span>
                    <span class="position">0</span>
                </span>
            <span>天</span>
                <span class="countday">
                    <span class="position">0</span>
                    <span class="position">0</span>
                </span>
            <span>时</span>
                <span class="countday">
                    <span class="position">0</span>
                    <span class="position">0</span>
                </span>
            <span>分</span>
                <span class="countday">
                    <span class="position">0</span>
                    <span class="position">0</span>
                </span>
            <span>秒</span>
        </section>
    </section>

    <section class="bargin-product-list">
        <div class="gift-package-list">
            <section class="gift-package-item clearfix">
                <img src="/images3/gift-pakage-jimuj.jpg" />
                <p class="gift-package-item-title gift-package-word">LEGO乐高积木</p>
                <p class="gift-package-item-desc gift-package-word">安全无毒防吞咽<br />提高动手能力</p>
                <p class="gift-package-item-oldprice gift-package-word">¥229.00</p>
                <p class="gift-package-item-price gift-package-word">¥ 162.00</p>
                <a class="gift-package-item-buynow" href="http://mweb.95laibei.com/Product/Detail/4448">
                    <span class="gift-package-item-buynow-word">立即</span><br />
                    <span class="gift-package-item-buynow-word">购买</span>
                </a>
            </section>
        </div>
        <div class="gift-package-list">
            <section class="gift-package-item clearfix">
                <img src="/images3/gift-pakage-jimuj.jpg" />
                <p class="gift-package-item-title gift-package-word">LEGO乐高积木</p>
                <p class="gift-package-item-desc gift-package-word">安全无毒防吞咽<br />提高动手能力</p>
                <p class="gift-package-item-oldprice gift-package-word">¥229.00</p>
                <p class="gift-package-item-price gift-package-word">¥ 162.00</p>
                <a class="gift-package-item-buynow" href="http://mweb.95laibei.com/Product/Detail/4448">
                    <span class="gift-package-item-buynow-word">立即</span><br />
                    <span class="gift-package-item-buynow-word">购买</span>
                </a>
            </section>
        </div>
        <div class="gift-package-list">
            <section class="gift-package-item clearfix">
                <img src="/images3/gift-pakage-jimuj.jpg" />
                <p class="gift-package-item-title gift-package-word">LEGO乐高积木</p>
                <p class="gift-package-item-desc gift-package-word">安全无毒防吞咽<br />提高动手能力</p>
                <p class="gift-package-item-oldprice gift-package-word">¥229.00</p>
                <p class="gift-package-item-price gift-package-word">¥ 162.00</p>
                <a class="gift-package-item-buynow" href="http://mweb.95laibei.com/Product/Detail/4448">
                    <span class="gift-package-item-buynow-word">立即</span><br />
                    <span class="gift-package-item-buynow-word">购买</span>
                </a>
            </section>
        </div>
        <div class="gift-package-list">
            <section class="gift-package-item clearfix">
                <img src="/images3/gift-pakage-jimuj.jpg" />
                <p class="gift-package-item-title gift-package-word">LEGO乐高积木</p>
                <p class="gift-package-item-desc gift-package-word">安全无毒防吞咽<br />提高动手能力</p>
                <p class="gift-package-item-oldprice gift-package-word">¥229.00</p>
                <p class="gift-package-item-price gift-package-word">¥ 162.00</p>
                <a class="gift-package-item-buynow" href="http://mweb.95laibei.com/Product/Detail/4448">
                    <span class="gift-package-item-buynow-word">立即</span><br />
                    <span class="gift-package-item-buynow-word">购买</span>
                </a>
            </section>
        </div>
        <div class="gift-package-list">
            <section class="gift-package-item clearfix">
                <img src="/images3/gift-pakage-jimuj.jpg" />
                <p class="gift-package-item-title gift-package-word">LEGO乐高积木</p>
                <p class="gift-package-item-desc gift-package-word">安全无毒防吞咽<br />提高动手能力</p>
                <p class="gift-package-item-oldprice gift-package-word">¥229.00</p>
                <p class="gift-package-item-price gift-package-word">¥ 162.00</p>
                <a class="gift-package-item-buynow" href="#myPopup1" data-rel="popup" class="ui-btn" data-position-to="window">
                    <!--<span class="gift-package-item-buynow-word">立即</span><br />
                    <span class="gift-package-item-buynow-word">购买</span>-->
                    立即购买
                </a>
            </section>
            <div data-role="popup" id="myPopup1" class="ui-content">
                <p>我显示在窗口的中间部分。</p>
            </div>
        </div>
    </section>
</div>



<script type="text/javascript">


    //必须带上的
    function InitPagebeforeCreate() {

    }
    function InitPageShow() {

    }

</script>
</body>
</html>