<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        input{
            height: 50px;
            font-size: 14px;
            line-height: 50px;
        }

        .test1::-webkit-input-placeholder{
            color: red;
            font-size: 40px;
            line-height: 50px;
        }

    </style>
</head>
<body>
<input class="test1" type="text" placeholder="测试" />
<input type="text" placeholder="测试" />
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜鸟教程(runoob.com)</title>
</head>
<body>

<audio controls id="audio" oncanplay="myFunction2()">
    <source src="horse.ogg" type="audio/ogg">
    <source src="horse.mp3" type="audio/mpeg">
    您的浏览器不支持 audio 元素。
</audio>
<video id='video1' onloadstart="myFunction()" controls src='https://res.wx.qq.com/payactres/zh_CN/htmledition/images/mobile/man_night/guide/vedio.mp4' width='100%'></video>
<script>
    function myFunction() {
        var xx=document.getElementById("video1");
        xx.play();
    }
    function myFunction2() {
        var yy=document.getElementById("audio");
        yy.play();
    }
</script>

</body>
</html>