body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#ff5075 !important;font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; }
td,th,caption { font-size:16px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#fff!important; text-decoration:none; }
img { border:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.bargin-wrapper{
    overflow: hidden;
    /*background: #ff6388;*/
    background-color: #ff5c81;
}
.bargin-banner{
    position:relative;
}
.bargin-banner img{
    width:100%;
}
.countdown{
    position: absolute;
    top: 84%;
    width: 100%;
    text-align: center;
    color: #fff;
}
.countdown p{
    margin-bottom: 10px;
    color:#fffc73;
}
.countdown .position{
    background-color:#fff;
    padding:4px 4px;
    color:#ff7196;
    border-radius:2px;
}
.gift-package-list{
    padding: 0 .2rem;
}
.gift-package-item{
    position: relative;
    padding: .3rem 0 0 .3rem;
    background-color: #fff;
}
.gift-package-item-container{
    padding:0 .3rem .3rem 0;
    border-bottom: 1px solid #dcdddd;
}
.gift-package-item:last-child>.gift-package-item-container{
    border-bottom:none;
}
.gift-package-word{
    margin-left: 2.4rem;
}
.gift-package-item img{
    float:left;
    width: 2.2rem;
    border-radius: 5px;
}
.gift-package-item-title{
    font-size: 15px;
    font-weight:bold;
    color:#3e3a39;
    width: 4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gift-package-item-desc{
    font-size: 13px;
    color:#9fa0a0;
    width: 2.8rem;
    height: .74rem;
    margin-top:.1rem;
    white-space:nowrap;
}
.gift-package-item-oldprice{
    font-size: 14px;
    color:#9fa0a0;
    text-decoration: line-through;

}
.gift-package-item-price{
    font-size: 20px;
    color:#ff4965;
}
.gift-package-item-buynow{
    position: absolute;
    right: .3rem;
    bottom: .65rem;
    width: .9rem;
    height: .9rem;
    border-radius: .45rem;
    font-size: .28rem;
    background-color: #ff7095;
    text-align: center;
    line-height: 1.2;
}
.gift-package-item-buynow-word{
    position:relative;
    top:.12rem;
}
.gift-package-goods{
    margin-top:.7rem;
}
.gift-pakage-phone>div,.gift-pakage-phone>div{
    border: 0;
    border-radius: 0;
    text-shadow: none !important;
    margin: 0;
    width:5.3rem;
}
.bargin-product-list{
    position:relative;
    z-index: 2;
    margin-top: -.25rem;
}
.bargin-product-purchase{
    top:.3rem;
    background-color: #ff4965;
}
.bargin-purchase{
    top:20%;
    font-size: .44rem;
}
.bargin-price{
    position:absolute;
    right: .3rem;
    bottom:.28rem;
    color:#ff7095;
    font-size: 10px;
}
.bargin-desc{
    padding: .5rem .3rem .8rem .4rem;
    color:#fff;
    font-size: 13px;
    background: url(/images4/bargin-bg.jpg) center no-repeat;
    background-size: 100%;
}
.bargin-desc-detail{

}
.bargin-desc-title{
    height: .25rem;
    line-height: .25rem;
    margin: 0 auto .5rem;
    font-size: .46rem;
    color:#fffc73;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.bargin-desc-title span{
    /*background: #ff5c81;*/
    background: #ff6287;
    padding: 0 .2rem;
    line-height: .5rem;
}
.bargin-desc p{
    line-height: 1.8;
}
#grad1 {
    position:absolute;
    z-index: 1;
    right:-100px;
    bottom:-160px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /*background: -webkit-radial-gradient(circle,rgba(255,255,255,0.4), rgba(255,92,129,1)); /!* Safari 5.1 - 6.0 *!/*/
    /*background: -o-radial-gradient(circle,rgba(255,255,255,0.4),rgba(255,92,129,1)); /!* Opera 11.6 - 12.0 *!/*/
    /*background: -moz-radial-gradient(circle,rgba(255,255,255,0.4), rgba(255,92,129,1)); /!* Firefox 3.6 - 15 *!/*/
    /*background: radial-gradient(circle,rgba(255,255,255,0.4), rgba(255,92,129,.1)); /!* 标准的语法（必须放在最后） *!/*/
    /*-webkit-filter: blur(4px);*/
    /*filter: blur(4px);*/
}
.alertbox1{
    border-radius: 20px;
    border:none;
}
.alertbox1 img{
    width:100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.alertbox1 p{
    font-size: 14px;
    margin: 18px auto;
}
.alertbox1 a,.alertbox2 a{
    display: block;
    font-size: 18px;
    width: 80%;
    margin: 10px auto;
    padding: 3px;
    border-radius: 2px;
}
.bargin-make{
    background-color: #ff5075;
    color: #fff;
}
.bargin-help{
    color:#ff5075 !important;
    background-color: #fffc73;
    margin-bottom: 20px !important;
}
.alertbox2{
    border:none;
    background-color: #ff6384;
}
.alertbox2 div{
    margin: 10px;
    border: 1px dashed #fff;
    border-radius: 8px;
}
.alertbox2 h1{
    margin: 30px auto 10px;
}
.alertbox2 h2{
    margin: 10px auto 30px;
    color:#fffc73 !important;
}
.alertbox2 h1,.alertbox2 h2{
    font-size: 25px;
    font-weight: bold;
    color:#fff;
}
.alertbox2 p{
    color:#fff;
    line-height: 1.5;
}
.alertbox2 a{
    margin: 10px auto;
    background-color:#fffc73 ;
    color:#ff6384 !important;
}
.bargin-participent{
    background-color:#fff !important ;
    margin-bottom: 20px !important;
}
