body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,
fieldset,legend,input,button,textarea,p,th,td
{ margin:0; padding:0; }
body{
    background: #efefef;
    font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif;
}
p,span,a{
    text-shadow: none !important;
}
a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /**/
}
/*头部*/
.donationheader{
    width: 100%;
    height: auto;
}
.common-font-miniless{
    font-size: 11px;
}
.common-font-mini{
    font-size: 12px;
}
.common-font-normalless{
    font-size: 13px;
}
.common-font-normal{
    font-size:14px;
}
.common-font-large{
    font-size: 15px;
}
.common-font-larger{
    font-size: 20px;
}
.common-bg{
    background-color:#fff;
}
.common-up{
    margin-top: .1rem;
}
.daysleft{
    position: absolute;
    top: 10px;
    left:0;
    width: 110px;
    background: #000;
    color: #fff;
    opacity: .7;
    padding: .1rem 0;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.daysleft p{
    margin-left: 8%;
}
.detail-banner{
    width: 100%;
    height:3.5rem ;
}
.detail-banner img{
    width: 100%;
    height: auto;
}

.detail-desc,.detail-donation-item {
    padding: .3rem .2rem;
}
.detail-donation-item{
    line-height: 1;
}
.detail-donation-bag,.detail-bags-desc{
    display: inline-block;
}
.detail-donation-bag img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .6rem;
}
.detail-bags-desc{
    float: right;
    width: 78%;
    border-bottom: 1px solid #dcdddd;
    padding-bottom: .15rem;


}
.process-bottom,.process-up{
    position:absolute;
    height: 8px;
    border-radius: 4px;
    margin: .2rem 0;
}
.process-up{
    width: 35%;
    background-color: #ff4965;
}
.process-bottom{
    width: 75%;
    background-color: #dcdddd;
}
.detail-bags-sum{
    margin-top: .25rem;
    width: 100%;
    overflow: hidden;
    line-height: 1.1;
}
.detail-bags-sum ul{
    list-style: none;
    width: 116%;
}
.detail-bags-sum ul li{
    display: inline-block;
    width:30%;
}
.detail-bags-sum ul li:first-child{
    color:#ff4965;
}
.detail-donation-second .process-up{
    width: 17%;
}
.detail-donation-second .detail-bags-desc{
    padding-bottom: 0;
    border: none;
}
.detail-donation-second{
    height:1.5rem;
    padding-bottom: .2rem;
    border-bottom: 1px solid #dcdddd;
}
.detail-participant-portrait{
    height: 1rem;
    line-height: 1rem;
}
.detail-participant{
    height: .5rem;
    padding: .25rem .2rem;
    line-height: 0;
}
.detail-participant-portrait img{
    height: .46rem;
    width: .46rem;
    float: left;
}
.detail-participant-portrait img:not(:first-child){
    margin-left: 6px;
}
.detail-participant-portrait ,.detail-donation-people{
    display: inline-block;
}
.detail-donation-people{
    float: right;
    vertical-align: middle;
}
.detail-donation-people a{
    color: #9fa0a0;
    text-decoration: none;
}
.detail-donation-people img, .detail-publish img{
    height: 13px;
    margin-left: .1rem;
}
.detail-publish{
    height: 1rem;
    line-height: 1rem;
    padding: 0 .2rem;
    margin: .2rem auto;
    background-color:#fff;
}
.detail-publish p{
    font-size: 15px;
    /*display: inline-block;*/
    float: left;
}
.detail-publish a{
    display: inline;
    float: right;
    height: 1rem;
    vertical-align: top;
}
.detail-publish span{
    font-size: 14px;
    display: inherit;
}
.detail-project-detail{
    padding: .3rem 0;
    background-color: #fff;
}
.detail-project-title{
    height: .9rem;
    line-height: .9rem;
    border-bottom: 1px solid #dcdddd;
}
.detail-project-title h2{
    font-size: 15px;
    font-weight: 500;
}
.project-desc{
    padding: 0 .2rem;
    background-color: #fff;
}
.project-desc p:first-child{
    font-size: 14px;
    line-height: 1.5;
}
.project-desc>img{
    width: 100%;
    margin: .3rem auto;
}
.project-detail,.project-record{
    display: inline-block;
}
.project-detail{
    float:left;
    margin-left: 15%;
}
.project-active{
    color: #ff4965;
    border-bottom: 2px solid #ff4965;
}
.project-record{
    float:right;
    margin-right: 15%;
}
.donation-address{
    font-size: 14px;
    margin-top: .35rem;
}
.project-desc h3{
    color:#9fa0a0;
    font-size: 14px;
    font-weight: 500;
    margin-top: -.3rem;
}
.detail-click-more{
    text-align: center;
    padding-bottom: .2rem;
}
.detail-click-more img{
    height: 7px;
    width:13px;;
    display: inherit;
    margin: .1rem auto;
}
/*底部*/
.detail-footer{
    width: 100%;
    height: 1rem;
    background-color: #ff4965;
    margin-top: .3rem;
    line-height: 1rem;
    text-align: center;
}
.detail-footer a{
    text-decoration: none;

}
.detail-footer span{
    display: block;
    font-size: 18px;
    color: #fff;
}
/*发放记录*/
.detail-donation-records section:nth-child(2n){
    background-color: #ffffff;
}
.detail-donation-records section:nth-child(2n+1){
    background-color: #fbfbfb;
}
.donation-record{
    border-bottom: 1px solid #dcdddd;
}
.donation-record{
    padding: .3rem .2rem 0 .2rem;
}
.donation-username{
    border-bottom: 1px dashed #dedede;
}
.donation-record p, .donation-record span{
    font-size: 14px;
}
.donation-record>div{
    height: .9rem;
    line-height: .9rem;
}
.donation-record>div:not(:first-child){
    height: .65rem;
    line-height: .65rem;
}
.doname-desc-bag p, .doname-desc-desk p{
    float:left;
}
.doname-desc-bag p:nth-child(1), .doname-desc-desk p:nth-child(1){
    width: 56%;
}
.doname-desc-bag p:last-child, .doname-desc-desk p:last-child{
    float:right;
}

.doname-desc-bag p:not(:first-child), .doname-desc-desk p:not(:first-child){
    color: #9fa0a0;
}



















