body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body {font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#fff!important; text-decoration:none; }
img { border:none; }
input, textarea, select, button { font-family:'Microsoft YaHei', Arial, Helvetica, sans-serif;outline: none;border: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none; }
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.feedback-wrapper{
    position: relative;
    /*top: 0;*/
    /*left: 0;*/
    height: 12rem;
    background: url(/images5/feedback-bg.jpg) center no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.feedback-content{
    position: absolute;
    top: 63%;
    left: 50%;
    width: 85%;
    transform: translate(-50%,-50%);
    z-index: 9;
    color: #000;
    border-radius: 8px;
}
.feedback-content-item{
    background: #fff;
    padding: 10px;
    margin: .2rem auto;
    border-radius: 20px;
    font-size: 15px;
    position:relative;
}
.feedback-label{
    float: left;
    display: inline-block;
    width:25%;
    text-align: left;
    padding-left: 10px;
    line-height: 20px;
}
.feedback-content-right{
    width: 65%;
    display: inline-block;
    text-align: left;
}
.feedback-content-right span{
    color: #b5b5b6;
    line-height:20px;
}
.feedback-content-item img{
    float: right;
    width:19px;
    border-radius: 50%;
}
.feedback-uploadedimg{
    width: 2.5rem !important;
    height: 15px;
    float:none !important;
    border-radius: 0 !important;
    box-sizing: border-box;
    vertical-align: middle;
}
.feedback-content-right input{
    width: 85%;
    font-size:15px;
    line-height:20px;
}
.feedback-content-right input:disabled{
    background: #fff;
}
.feedback-content-right input::-webkit-input-placeholder{
    font-size: 15px;
 }
.feedback-desc{
    width: 115%;
    margin-top: .3rem;
    font-size: 12px;
    text-align: left;
}
.gift-pakage-getcode {
    position: absolute;
    top: 0;
    right: -1px;
    line-height: 41px;
    width: 33% !important;
    background: #ffd736 !important;
    color: #000;
    font-size: 13px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.last{
    background: #ffd736;
    padding:8px;
    height: 25px;
    text-align: center;
}
.last button{
    height: 26px;
    line-height: 26px;
    background: #ffd736;
    border: none;
    font-size: 20px;
}
/*µ¯²ã*/
.laibeimask{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1005;
    background-color: rgba(0,0,0,.6);
}
.alertbox{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 72%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1006;
    line-height: 25px;
    color: #000;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 8px;
}
.alertbox h1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 14px auto;
    color: #3e3a39;
}
.alertbox p {
    font-size: 15px;
    line-height: 15px;
    margin: -4px auto 19px;
}
.alertbox input[type=button] {
    -webkit-appearance: none;
    color: #33a6ff;
    width: 100%;
    font-size: 18px;
    line-height: 42px;
    border: none;
    border-top: 1px solid #dcdddd;
    border-radius: 0;
    background-color: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}