body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#56079e; font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; }
td,th,caption { font-size:16px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#fff!important; text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.gift-package-container{
    overflow: hidden;
    background: #56079e;
}
.gift-package-banner img,.gift-package-titlewrapper img{
    width:100%;
}
.gift-package-info{
    padding: .7rem .9rem;
}
.gift-pakage-getnow{
    display: block;
    width: 5.2rem;
    padding: 8px 10px;
    text-align: center;
    color: #cb0de6 !important;
    background-color: #f7d744;
    font-size: 18px;
    border-radius:5px;
}
.gift-pakage-phone{
    position: relative;
    height: .85rem;
    width: 5.6rem;
}
.gift-pakage-phone input{
    display: block;
    font-size: 15px;
    padding: 10px;
    width: 5.2rem;
    outline: none;
    border:none;
    border-radius: 5px;
    background: #fff;
}
.gift-pakage-getcode{
    font-size: 15px;
    position: absolute;
    top: 0;
    right: -1px;
    padding: 10px 0;
    border: none;
    width: 38% !important;
    background: #f7d744 !important;
    color:#a90bd1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.gift-pakage-getcode::-webkit-input-placeholder {
    color: #a90bd1 !important;
    text-align: center;
}
@media screen and (min-width: 700px) and (max-width: 770px) {
    .gift-pakage-getcode{
        right: 2px;
    }
    .gift-pakage-getnow{
        width:5.4rem;
    }
    .gift-pakage-phone input{
        width:5.4rem;
    }
}

@media screen and (max-width: 320px) {
    .gift-pakage-getcode{
        right: -3px;
    }

}
.gift-pakage-valicode{
    margin: .3rem 0;
}
.gift-pakage-valicode input{
    float: left;
    display: inline-block;
}
.gift-package-titlewrapper img{
    display: block;
}
.gift-package-list{
    padding: 0 .2rem;
}
.gift-package-item{
    position: relative;
    margin:.2rem auto;
    padding: .2rem;
    border-radius: 5px;
    background-color: #fff;
}
.gift-package-word{
    margin-left: 2.4rem;
}
.gift-package-item img{
    float:left;
    width: 2.2rem;
    border-radius: 5px;
}
.gift-package-item-title{
    font-size: 15px;
    font-weight:bold;
    color:#3e3a39;
    width: 4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gift-package-item-desc{
    font-size: 13px;
    color:#9fa0a0;
    width: 2.8rem;
    height: .74rem;
    margin-top:.1rem;
    white-space:nowrap;
    /*overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;*/
}
.gift-package-item-oldprice{
    font-size: 14px;
    color:#9fa0a0;
    text-decoration: line-through;

}
.gift-package-item-price{
    font-size: 20px;
    color:#ff4965;
}
.gift-package-item-buynow{
    position: absolute;
    right: .3rem;
    padding: 8px;
    border-radius: 5px;
    bottom: .3rem;
    font-size: 14px;
    background-color: #ff4965;
}
.gift-package-goods{
    margin-top:.7rem;
}
.ui-page-theme-f {
    background-color: #56079e;
}
.gift-pakage-phone>div,.gift-pakage-phone>div{
    border: 0;
    border-radius: 0;
    /*height: .8rem;*/
    text-shadow: none !important;
    margin: 0;
    width:5.3rem;
}