body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,
fieldset,legend,input,button,textarea,p,th,td
{ margin:0; padding:0; }
body{
    background: #55a5ef !important;
}
p,span,a{
    text-shadow: none !important;
}
a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}
.ui-body-f {
    color: white;
    /* max-width: 680px !important;*/
}
.ui-header{
    border-style:none;
}
.ui-content{padding:0}
.vote-header img{
    width: 100%;
    height: auto;
    max-height: 100%;
}
.vote-info{
    padding: .3rem 1rem;
    height: 2rem;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}
.vote-info span{
    font-size: .8rem;
    color:#fff;
}
.vote-info-num {
    display: inline-block;
    margin-top: .2rem;
}
.vote-info-item{
    line-height: .8rem;
}
.vote-time{
    margin-top: .8rem;
    height: 1.2rem;
    text-align: center;
    font-size: .85rem;
    color:#fff;
}
.vote-deadline{
    text-decoration: none;
    color:#f2eb33;
}
.vote-time em{
    font-style: normal;
}
.vote-join{
    margin: .5rem auto 1rem auto;
    width:100%;
    text-align: center;
}
.vote-join-container{
    width: 40%;
    margin:0 auto;
}
.vote-join-container a{
    padding: 0;
    margin: 0;
    height: 1.8rem;
    line-height: 1.8rem;
    background: #e37d84 !important;
    color: #fff !important;
    border-radius: .9rem;
    font-size: .9rem;
    border: none;
    box-shadow: 0 5px 10px #888;
}
.vote-form-control{
    display: inline-block;
    width: auto;
    vertical-align: middle
}
.vote-search{
    position: relative;
    width: 65%;
    margin: 0 auto 1rem auto;
}
.vote-search>div{
    border:none !important;
    padding-right: 0;
}
.vote-search div, .vote-search button{
    border-radius: 0 !important;
}

.vote-search>div{
    margin:0;
}
.vote-search>img{
    position: absolute;
    z-index: 2;
    width: 1rem;
    height: .8rem;
    margin: .48rem .2rem;
}

.vote-search input{
    font-size: .8rem;
    border: solid 1px #f1a33f;
    padding-left: 1.2rem;
    background-color: #fff;
    color:#000;
}
.vote-search-btn{
    position: absolute;
    height: 1.8rem;
    width: 3rem !important;
    top: 0;
    left: 100%;
    font-size: .9rem;
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
    color: #fff !important;
    background-color: #f1a33f !important;
    border: 1px solid #F1A33F;
}
.vote-search .ui-input-search{
    width: 100% !important;
}
.vote-photo,.vote-photos{
    width:94%;
    margin: 0 auto;
}
.vote-photo{
    height: 1.4rem;
    margin-bottom: .5rem;
}
.vote-photo>div{
    height: 1.4rem;
    width: 32%!important;
    padding-bottom: .5rem;
}
.vote-photo .ui-block-b{
    margin: 0 2%;
}

.vote-photo .active{
    background-color:#78b8f4 !important;
}
.vote-photo a{
    margin: 0 !important;
    padding: 0;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: .9rem;
    color: #fff !important;
    background-color:#e37d84 !important;
    border:none;
}
.vote-photo div+div{
    margin: 0rem;
}

.vote-photo-left{
    float: left;
    display: inline;
    height: 1.6rem;
    line-height: 1.3;
    width: 60%;
    background-color: #78b8f4;
}
@media screen and (max-width: 320px) {
    .vote-photo-left{
        line-height: 1;
    }
}

.vote-num{
    position:relative;
}
.vote-usernum{
    position: absolute;
    left: 10px;
    top: 1px;
    width: 1rem;
    height: 2rem;
    line-height: .8;
    padding: .3rem .4rem 0 .4rem;
    background-color: #ebb062;
    text-align: center;
    color: #fff;
    /*padding: 0 8px;*/
    overflow: hidden;
}
.vote-num img{
    width: 100%;
    height: 9rem;
    max-width: 100%;
}
.vote-usernum span{
    font-size: .6rem;
}
.vote-photo-left>p{
    color:#fff;
    font-size: .6rem ;
    padding-left: .3rem;
}
.vote-userphotodesc{
    position: relative;
    top: -.5rem;
    height: 1.6rem;
    border: solid 1px #fff;
}

.vote-photo-right{
    width: 40%;
    height: 1.6rem;
    background-color: #e27b82;
    text-align: center;
    float: right;
    line-height: 1.3;
}
.vote-photo-right a,.vote-photo-right span{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    vertical-align: middle;
}
.vote-photo-right a{
    display: inline-block;
}

.vote-photo-right img{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: -5px;
    vertical-align: middle;
}
.vote-photos .ui-block-a{
    width: 48%;
}
.vote-photos li:nth-of-type(odd){
    margin-right: 2%;
}
/*查看更多图片*/
.vote-clickkmore{
    width: 60%;
    margin: 1rem auto;
    position: relative;
}

.vote-clickkmore img{/*pad*/
    width:100%;
}


/*活动奖品*/
.vote-prize{
    margin-bottom: 1rem;
}
.vote-prize-wraper{
    display: flex;
    margin-bottom: .2rem;
}
.vote-prize-wraper .lline{
    display: inline;
    box-sizing: border-box;
    line-height: 0;
    background: #dcdddd;
    margin: .4rem .16rem 0;
    width: 40%;
    height: 1px;
}
.vote-prize-wraper .content{
    width: 9.8rem;
    line-height: .8rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    text-shadow: none !important;
}
.vote-prize-wraper .rline{
    box-sizing: border-box;
    line-height: 0;
    background: #dcdddd;
    margin: .4rem .16rem 0;
    width: 44%;
    height: 1px;
}
/*奖品详情*/
.vote-prize-detail{
    margin: 0 20px;
    border: dashed 1px #fff;
    border-radius: 20px;
}
.vote-prize-detail-img{
    margin: 20px 40px;
    text-align: center;
}
.vote-prize-detail-img img{
    width: 80%;
    border-radius: 50%;
    border: solid 1px #99c9f5;
}
.vote-prize-detail-img span{
    color: #f2eb33 !important;
    font-size: .6rem;
}
.vote-prize-detail-desc {
    margin: 15px;
    color: #fff;

}
.vote-prize-detail-desc p{
    font-size: .8rem;
}
.vote-prize-detail-desc span{
    color: #f2eb33 !important;
}
.vote-rules{
    margin-top:1rem !important;
}
.vote-rule-detail{
    padding: 0 20px;
    font-size: .6rem;
}
.vote-prize-rule-desc{
    background-color: #99c9f5;
    border-radius: 20px;
    color: #458bcc;
    padding: 20px;
    margin-bottom: 4rem ;
}
.vote-prize-rule-desc p{
    background-color: #99c9f5;
}


/*底部*/
.vote-fix-nav{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color:#f56969;
    text-align: center;
}
.vote-fix-nav img{
    height:1rem;
    width:1rem;
}
.vote-fix-nav div div{
    height: 1rem;
    margin: .4rem auto 4px auto;
}
.vote-fix-nav a{
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
    display: inline-block;
    padding-bottom: .3rem;
}
.vote-fix-nav span{
    color:#fff !important;
}
/*注册页面*/
.vote-register{
    width: 100%;
}
.vote-bottom{
    position: relative;
    z-index: -1;
}
.vote-bottom img{
    width: 100%;
}
#popwrapper{
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 999;
}
.popcontainer{
    position: relative;
    padding: 2rem 2rem 0 2rem;
    border: 1px solid #fff;
    margin: 4rem;
    border-radius: 2rem;
}
#join{
    margin: 2rem 1rem;
    padding: 2rem 1rem;
    color: #fff;
    font-size: 1rem;
}
.registerinfotitle{
    text-align: center;
}
.registerinfotitle h1{
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}
.registerinfotitle p{
    font-size: .6rem;
    color: #d3f10b;
}
#join>.registerinfo input{
    display: inline-block;
    border:none;
    height: 2rem;
}
#join>.registerinfo input[type=radio]{
    height: .8rem;
    line-height: 1rem;
    margin-top: -5px;
}
.registerinfo{
    margin-top: 1rem;
}
.registerinfo,.activityPhoto,.vote-profile-words,.submitInfo{
    padding: .8rem;
    color: #ffffff;

}
.registerinfo div{
    display: inline-block;
}
.registername,.registersex,.registerphone,.validcode{
    border: 1px solid #fff;
    border-radius: 2rem;
    height: 2rem;
    width: 100%;
    margin-bottom: .9rem;
}
.registername>div,.registerphone>div,.validcode>div{
    width: 70%;
    border:none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 0;
}
.registersex>div{
    width:10%;
}
.ui-radio>input{
    height: 1rem;
    width: 1rem;
    margin-top: -.3rem;
}
.registername span,.registerphone span,.registersex span{
    margin-left: .8rem;
    height: 2rem;
    line-height: 2rem;
}


.vote-profile-words h1{
    text-align: center;
    font-weight: 600;
    margin-bottom: 6px;
}
.vote-profile-words div{
    border:solid 1px #fff;
    padding: .5rem;
    border-radius:10px;
    min-height: 2rem;
    text-overflow: ellipsis;
}
.vote-profile-words div>p{
    margin-bottom: 0;
}
.vote-profile-words{
    margin-top: .3rem;
}
.validcode>div{
    height: 2rem;
    margin: 0;
}
.validcode
{
    position: relative;
}
#sendVerifyCode{
    position: absolute;
    left: 9rem;
    top: .1rem;
    height: 1rem;
    padding: .4rem .8rem;
    line-height: 1rem;
    margin: 0;
    background-color: #f56969;
    border-radius: 2rem;
    border: none;
    color: #fff;
    font-size: .8rem;
}
@media screen and (max-width: 320px) {
    #sendVerifyCode{
        left:5.5rem;
    }
}
.activityPhoto img{
    width: 20%;
}
.activityPhoto span{
    color: #d3f10b;
}
.activityPhoto p,.vote-profile-words p{
    margin-left: .5rem;
    margin-bottom: .5rem;
}
.activityPhoto, .vote-profile-words{
    padding-top:0;
    padding-bottom:0;
}
.submitInfo a{
    height: 1rem;
    width: 50%;
    margin: .5rem auto;
    padding: .5rem;
    background-color: #f56969;
    border-radius: 2rem;
    line-height: 1rem;
    font-size: 1.2rem;
    color: #fff;
    border: none;
}
.vote-cover{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index:2;
    background-color: #000;
    opacity: .5;
    border:1px solid red
}

