<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <meta name="format-detection" content="telephone=no">

    <title>公益详情</title>
    <link rel="stylesheet" href="/css/detail.css">
    <script src="/js/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="header common-bg">
    <div class="daysleft common-font-mini">
        <p>剩余天数：18 天</p>
    </div>
    <div class="detail-banner">
        <img src="/images2/detai-banner.jpg"/>
    </div>
    <div class="detail-desc common-font-normal">
        <p>山区儿童定向捐赠。新学期开始了，他们需要1-3年级儿 童课外书籍、文具、书包，献出你的一份爱心吧!</p>
    </div>
</div>
<div class="main common-up common-bg">
    <div class="detail-donation-item">
        <div class="detail-donation-bag">
            <img src="/images2/detail-bags.jpg"/>
        </div>
        <div class="detail-bags-desc">
            <div class="detail-bags-title">
                <p class="common-font-normal ">男童女童迪士尼幼儿园书包</p>

                <div class="process-bottom"></div>
                <div class="process-up"></div>
                <div class="detail-bags-sum">
                    <ul>
                        <li>
                            <p class="common-font-normalless"><span class="common-font-larger">53</span>个</p>

                            <p class="common-font-miniless">已捐数量</p>
                        </li>
                        <li>
                            <p class="common-font-normalless"><span class="common-font-larger">53</span>%</p>

                            <p class="common-font-miniless">项目进度</p>
                        </li>
                        <li>
                            <p class="common-font-normalless"><span class="common-font-larger">100</span>个</p>

                            <p class="common-font-miniless">目标梳理</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-donation-item detail-donation-second" style="margin-top: .2rem;">
        <div class="detail-donation-bag">
            <img src="/images2/detail-desk.jpg"/>
        </div>
        <div class="detail-bags-desc">
            <div class="detail-bags-title">
                <p class="common-font-normal ">学生课桌椅单人书桌</p>

                <div class="process-bottom"></div>
                <div class="process-up"></div>
                <div class="detail-bags-sum">
                    <ul>
                        <li>
                            <p class="common-font-normalless"><span class="common-font-larger">28</span>个</p>

                            <p class="common-font-miniless">已捐数量</p>
                        </li>
                        <li>
                            <p class="common-font-normalless"><span class="common-font-larger">28</span>%</p>

                            <p class="common-font-miniless">项目进度</p>
                        </li>
                        <li>
                            <p class="common-font-normalless"><span class="common-font-larger">100</span>个</p>

                            <p class="common-font-miniless">目标梳理</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-participant">
        <div class="detail-participant-portrait">
            <img src="/images2/detail-portrait.jpg"/>
            <img src="/images2/detail-portrait.jpg"/>
            <img src="/images2/detail-portrait.jpg"/>
            <img src="/images2/detail-portrait.jpg"/>
            <img src="/images2/detail-portrait.jpg"/>
            <img src="/images2/detail-portrait.jpg"/>
            <img src="/images2/detail-portrait.jpg"/>
            <img src="/images2/detail-portrait.jpg"/>
        </div>
        <div class="detail-donation-people">
            <a href="#">
                <span class="common-font-normal">有134人参与<img src="/images2/detail-rightarrow.jpg"/></span>
            </a>
        </div>
    </div>

</div>
<section class="detail-publish">
    <p>项目发布</p>
    <a>
        <span class="common-font-normal">九五e慈善<img src="/images2/detail-rightarrow.jpg"/></span>
    </a>
</section>
<section class="detail-project-detail">
    <div class="detail-project-title">
        <div class="project-detail">
            <h2>项目详情</h2>
        </div>
        <div class="project-record">
            <h2>发放记录</h2>
        </div>
    </div>
</section>
<div class="detail-donation-tab">
    <section class="project-desc" id="project-detail">
        <p>
            该项目旨在为留守儿童提供托管服务、家庭教育指导、心理咨询等服务；同时以“儿童快乐家园”为依托，开展丰富多彩的关爱活动，增进亲情交流，加强家庭教育科学知识及安全知识的宣传普及，优化留守儿童成长的家庭及社会环境。客户月捐的善款将定向用于为留守儿童在农村留守儿童集中的乡镇、村，利用已有的空闲场所，改造或建立一间“儿童快乐家园”，并配备电脑、图书、文体设施等。</p>

        <p class="donation-address">捐赠地址：陕西山村小学</p>
        <img src="/images2/detail-article.jpg"/>

        <div class="detail-click-more">
            <h3>更多详情</h3>
            <img class="" src="/images2/detail-arrowbottom.jpg"/>
        </div>
    </section>
    <section class="detail-donation-records" style="display: none" id="project-record">
    <section class="donation-record-list">
        <div class="donation-record">
            <div class="donation-username">
                <p>张三</p>
            </div>
            <div class="doname-desc-bag">
                <p>男童女童迪士尼幼儿园书包</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
            <div class="doname-desc-desk">
                <p>学生课桌椅单人书桌</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
        </div>
    </section>
    <section class="donation-record-list">
        <div class="donation-record">
            <div class="donation-username">
                <p>张三</p>
            </div>
            <div class="doname-desc-bag">
                <p>男童女童迪士尼幼儿园书包</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
            <div class="doname-desc-desk">
                <p>学生课桌椅单人书桌</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
        </div>
    </section>
    <section class="donation-record-list">
        <div class="donation-record">
            <div class="donation-username">
                <p>张三</p>
            </div>
            <div class="doname-desc-bag">
                <p>男童女童迪士尼幼儿园书包</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
            <div class="doname-desc-desk">
                <p>学生课桌椅单人书桌</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
        </div>
    </section>
    <section class="donation-record-list">
        <div class="donation-record">
            <div class="donation-username">
                <p>张三</p>
            </div>
            <div class="doname-desc-bag">
                <p>男童女童迪士尼幼儿园书包</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
            <div class="doname-desc-desk">
                <p>学生课桌椅单人书桌</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
        </div>
    </section>
    <section class="donation-record-list">
        <div class="donation-record">
            <div class="donation-username">
                <p>张三</p>
            </div>
            <div class="doname-desc-bag">
                <p>男童女童迪士尼幼儿园书包</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
            <div class="doname-desc-desk">
                <p>学生课桌椅单人书桌</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
        </div>
    </section>
    <section class="donation-record-list">
        <div class="donation-record">
            <div class="donation-username">
                <p>张三</p>
            </div>
            <div class="doname-desc-bag">
                <p>男童女童迪士尼幼儿园书包</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
            <div class="doname-desc-desk">
                <p>学生课桌椅单人书桌</p>

                <p><span>1</span>个</p>

                <p>2016-04-12</p>
            </div>
        </div>
    </section>
</section>
</div>
    <div class="detail-footer">
        <a href="#">
            <span>我要捐赠</span>
        </a>
    </div>


    <script>
        //设置html fontSize
        (function (doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        docEl.style.fontSize = (clientWidth / 7.5) + 'px';
                    };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
        $(function () {
            $(".project-detail h2").addClass("project-active");
            $(".detail-project-title h2").click(function () {
                $(this).addClass("project-active");
                $(this).parent().siblings().children("h2").removeClass("project-active");
                var $item = "#"+$(this).parent().attr("class");
                $( $item).css("display", "block");
                $( $item).siblings().hide()
            })
        })
     </script>
</body>
</html>