<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <title>参与的公益</title>
    <link rel="stylesheet" href="/css/joinedcharity.css">
    <script src="/js/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="my-joined-charity-list">
    <section class="my-charity-list">
        <div class="my-charity-container">
            <div class="donation-image">
                <img src="/images2/charity-joinedcharity.jpg"/>
            </div>
            <div class="donation-item">
                <p>山区儿童定向捐赠</p>
                <p>7人参与</p>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <p>剩余天数：18天</p>
            </div>
            <div class="my-charity">
                <a hreef="#">我的捐赠</a>
            </div>

        </div>
    </section>
    <section class="my-charity-list">
        <div class="my-charity-container">
            <div class="donation-image">
                <img src="/images2/charity-joinedcharity.jpg"/>
            </div>
            <div class="donation-item">
                <p>山区儿童定向捐赠，需要书籍、文具、书包包包…</p>
                <p>7人参与</p>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <p>剩余天数：18天</p>
            </div>
            <div class="my-charity">
                <a hreef="#">我的捐赠</a>
            </div>

        </div>
    </section>
    <section class="my-charity-list">
        <div class="my-charity-container">
            <div class="donation-image">
                <img src="/images2/charity-joinedcharity.jpg"/>
            </div>
            <div class="donation-item">
                <p>山区儿童定向捐赠</p>
                <p>7人参与</p>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <p>剩余天数：18天</p>
            </div>
            <div class="my-charity">
                <a hreef="#">我的捐赠</a>
            </div>

        </div>
    </section>
</div>




<script>
    //设置html fontSize
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = (clientWidth / 7.5) + 'px';
                };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(function () {
        $(".project-detail h2").addClass("project-active");
        $(".detail-project-title h2").click(function () {
            $(this).addClass("project-active");
            $(this).parent().siblings().children("h2").removeClass("project-active");
            var $item = "#" + $(this).parent().attr("class");
            $($item).css("display", "block");
            $($item).siblings().hide()
        })
    })
</script>
</body>
</html>