<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0 "/>
    <title>晒“最温馨全家福”赢迪士尼乐园家庭套票</title>
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
<div data-role="page" data-theme="f">

    <div data-role="main" class="ui-content ui-body-f">
        <div class="vote-profile ui-grid-solo">
            <div class="ui-block-a vote-profile-desc">
                <div class="vote-profile-user">
                    <p class="vote-profile-username">二狗子</p>
                    <div class="empty"></div>
                    <p> 编号：<span>26</span></p>
                </div>
                <div class="vote-profile-rank">
                    <div class="vote-profile-ticket">
                        <p><span>100</span>票</p>
                        <p class="current">当前票数</p>
                    </div>
                    <div class="vote-profile-num">
                        <p><span>212</span>名</p>
                        <p class="current">当前排名</p>
                    </div>
                </div>
                <div class="vote-ticket-desc">
                    <p>离上一名还差25票，朋友们快帮我投票呦~</p>
                </div>
                <div class="vote-profile-words">
                    <h1>参赛宣言</h1>
                    <div>
                        <p>我是二狗狗 很高兴参加这个活动。参加这个活动让我很快了，很幸福。么么哒</p>
                    </div>
                </div>
                <div class="vote-photo">
                    <img src="images/vote-familyphoto01.png" />
                </div>
                <div class="vote-btn">
                    <a href="#votePopup" data-rel="popup"  class="ui-btn ui-btn-inline">为TA投票</a>
                    <div data-role="popup" id="votePopup" class="ui-content" data-overlay-theme="b">
                        <p>请进入公众号投票，长按二维码进入</p>
                        <a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete
                         ui-btn-icon-notext ui-btn-right">Close</a>
                        <img src="images/vote-qrcode.png">
                    </div>
                    <a href="#joinPopup" data-rel="popup" class="ui-btn ui-btn-inline">我要参加</a>
                    <div data-role="popup" id="joinPopup" class="ui-content" data-overlay-theme="b">
                        <p>请进入公众号参加，长按二维码进入</p>
                        <a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete
                         ui-btn-icon-notext ui-btn-right">Close</a>
                        <img src="images/vote-qrcode.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="ui-grid-c vote-fix-nav">
            <div class="ui-block-a">

                <a href="#">
                    <div><img src="images/vote-homepage.png"/></div>
                    <span>投票首页</span>
                </a>
            </div>
            <div class="ui-block-b">

                <a href="#">
                    <div><img src="images/vote-ranking.png"/></div>
                    <span>排行榜</span>
                </a>
            </div>
            <div class="ui-block-c">

                <a href="#">
                    <div> <img src="images/vote-desc.png"/></div>
                    <span>赛事说明</span>
                </a>
            </div>
            <div class="ui-block-d">
                <a href="#">
                    <div><img src="images/vote-profile.png"/></div>
                    <span>个人中心</span>
                </a>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.mobile-1.4.5.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = (clientWidth / 75) * 3.5 + 'px';
                };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        $.mobile.silentScroll(100);

    })(document, window);
</script>

</body>
</html>