<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0 "/>
    <title>晒“最温馨全家福”赢迪士尼乐园家庭套票</title>
    <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="/css/rank.css">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body id="body">
<!--赛事说明弹出底层-->
<div class="desc-pop-wrapper" style="display:none"></div>

<div data-role="page" data-theme="f">

    <div data-role="main" class="ui-content ui-body-f vote-rank">
        <div class="ui-content vote-ranklist">
            <table id="rank">
                <thead>
                <tr>
                    <th>排名</th>
                    <th>姓名</th>
                    <th>编号</th>
                    <th>票数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="voteNum">1</span></td>
                    <td>二狗小子</td>
                    <td>26</td>
                    <td><span class="vote-tic">23444</span></td>
                </tr>
                <tr>
                    <td><span class="voteNum">2</span></td>
                    <td>倪妮</td>
                    <td>26</td>
                    <td><span class="vote-tic">23444</span></td>
                </tr>
                <tr>
                    <td><span class="voteNum">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td><span class="vote-tic">23444</span></td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>

                </tbody>
            </table>
            <div class="ui-content vote-clickkmore">
                <a href="#">
                    <img src="/images/vote-clickmore.png"/></a>
            </div>
        </div>
        <!--底部-->
        <div class="ui-grid-c vote-fix-nav">
            <div class="ui-block-a">
                <a href="/vote" data-ajax="false">
                    <div><img src="/images/vote-homepage.png"/></div>
                    <span>投票首页</span>
                </a>
            </div>
            <div class="ui-block-b" style="background: #78b8f4 " >

                <a href="/list">
                    <div><img src="/images/vote-ranking.png"/></div>
                    <span>排行榜</span>
                </a>
            </div>
            <div class="ui-block-c">

                <a href="javascript:;" >
                    <div> <img src="/images/vote-desc.png"/></div>
                    <span>赛事说明</span>
                </a>
            </div>
            <div class="ui-block-d">
                <a href="/profile">
                    <div><img src="/images/vote-profile.png"/></div>
                    <span>个人中心</span>
                </a>
            </div>
        </div>
    </div>
    <div data-role="footer">

        <script>
            /*赛事说明弹出效果*/
            $(function(){
                $(".vote-fix-nav .ui-block-c").click(function(){
                    $(".desc-pop-wrapper").css("display", "block");
                    $(".desc-pop").css("display", "block");
                    $("body").css("overflow-y","hidden");
                    $(".ui-body-f").css("-webkit-filter","blur(3px)")
                });
                $(".desc-pop a").click(function(){
                    $(".desc-pop-wrapper").css("display", "none")
                    $(".desc-pop").css("display", "none");
                    $("body").css("overflow-y","auto");
                    $(".ui-body-f").css("-webkit-filter","blur(0)")
                })
                /*所有弹层在弹出后，页面不会显示多余的部分*/
                $("a[data-rel='popup']").click(function(){
                    $("#body").css("overflow-y","hidden");
                });
                /*弹层关闭后，页面恢复正常*/
                $("a[class='ui-icon-delete']").click(function(){
                    $("#body").css("overflow-y","auto");
                })
                $(".ui-popup a").click(function(){
                    $("#body").css("overflow-y","auto");
                })
            })

        </script>
        <!--赛事说明-弹出层-->
        <div class="desc-pop" style="display: none">
            <a href="#" onclick="hidedesc()">
                <img src="/images/vote-close.png"/>
            </a>

            <div class="vote-prize vote-rules">
                <div class="vote-prize-wraper">

                    <div class="content" style="  margin: 0 auto;">活动规则</div>

                </div>
            </div>
            <div class="vote-rule-detail ui-grid-solo">
                <div class="ui-block-a vote-prize-rule-desc">
                    <p>1、参赛者打开活动页面报名，填写信息(注册来呗账号)</p>

                    <p>2、分享参赛页面给自己好友拉票，好友关注'来呗妈妈'即可参与投票</p>

                    <p>3、每个微信号每天可为3人各投1票</p>

                    <p>4、发现刷票行为取消参赛资格</p>

                    <p>5、票数相同时按照报名时间先后排序</p>
                </div>
            </div>
        </div>

        <!--二维码votePopup弹出层-->
        <div data-role="popup" id="votePopup" class="ui-content" data-overlay-theme="b" data-dismissible="false">
            <p>请进入公众号投票，长按二维码进入</p>
            <a href="#pageone" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete
                         ui-btn-icon-notext ui-btn-right" id="closeBtn2">Close</a>
            <img src="/images/vote-qrcode.png">
        </div>
        <!--二维码joinPopup弹出层-->
        <div data-role="popup" id="joinPopup" class="ui-content" data-overlay-theme="b" data-dismissible="false">
            <p>请进入公众号参加，长按二维码进入</p>
            <a href="#pageone" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete
                         ui-btn-icon-notext ui-btn-right" id="closeBtn3">Close</a>
            <img src="/images/vote-qrcode.png">
        </div>

    </div>
</div>



<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = (clientWidth / 75) * 3.5 + 'px';
                };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        $.mobile.silentScroll(100);

    })(document, window);

</script>

</body>
</html>