<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0 "/>
    <title>晒“最温馨全家福”赢迪士尼乐园家庭套票</title>
    <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="/css/rank.css">

</head>
<body>
<div data-role="page" data-theme="f">

    <div data-role="main" class="ui-content ui-body-f vote-rank">
        <div class="ui-content vote-ranklist">
            <table id="rank">
                <thead>
                <tr>
                    <th>排名</th>
                    <th>姓名</th>
                    <th>编号</th>
                    <th>票数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="voteNum">1</span></td>
                    <td>二狗小子</td>
                    <td>26</td>
                    <td><span class="vote-tic">23444</span></td>
                </tr>
                <tr>
                    <td><span class="voteNum">2</span></td>
                    <td>倪妮</td>
                    <td>26</td>
                    <td><span class="vote-tic">23444</span></td>
                </tr>
                <tr>
                    <td><span class="voteNum">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td><span class="vote-tic">23444</span></td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>
                <tr>
                    <td><span class="voteNums">3</span></td>
                    <td>黄晓明</td>
                    <td>26</td>
                    <td>23444</td>
                </tr>

                </tbody>
            </table>
            <div class="ui-content vote-clickkmore">
                <a href="#" class="ui-btn">点击加载更多</a>
                <img src="/images/vote-morephotos.png"/>
            </div>
        </div>
        <div class="ui-grid-c vote-fix-nav">
            <div class="ui-block-a">

                <a href="#">
                    <div><img src="/images/vote-homepage.png"/></div>
                    <span>投票首页</span>
                </a>
            </div>
            <div class="ui-block-b">

                <a href="#">
                    <div><img src="/images/vote-ranking.png"/></div>
                    <span>排行榜</span>
                </a>
            </div>
            <div class="ui-block-c">

                <a href="#">
                    <div> <img src="/images/vote-desc.png"/></div>
                    <span>赛事说明</span>
                </a>
            </div>
            <div class="ui-block-d">
                <a href="#">
                    <div><img src="/images/vote-profile.png"/></div>
                    <span>个人中心</span>
                </a>
            </div>
        </div>
    </div>
</div>


<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/jquery.mobile-1.4.5.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = (clientWidth / 75) * 3.5 + 'px';
                };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        $.mobile.silentScroll(100);

    })(document, window);
</script>

</body>
</html>