.video{
    padding-bottom: .3rem;
    background: #fff;
}
.videolist li{
    margin-top: .2rem;
    z-index: 22;
    position: relative;
}
.videolist li img{
    width: 100%;
}
.videolist li img:nth-child(2){
    max-height:3.8rem;
}
.video-desc{
    padding: .3rem .3rem 0;
    max-height: 1.5rem;
    font-size: 14px;
    color:#221815;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;
}
.video-item{
    width: 100%;
    height: 3.8rem;
    position: relative;
}
.video-item video{
    position: relative;
    z-index: 12;
    height: 3.8rem;
}
.video-play{
    width: 1.2rem !important;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video-time{
    position: absolute;
    top: 3.2rem;
    right:.3rem;
    color:#fff;
    font-size: 14px;
    z-index: 2;
}