<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section class="greatselect categorylist-activity">
    <a href="http://mp.95laibei.com/Optimization/SpecialDetail/24"
       class="ui-link"> <img
            src="http://cdn.article.img.95laibei.com/161011211555831563.jpg@!standard_rectangle_m"> <img
            class="optimization-history-shiyong"
            src="http://cdn.product.img.95laibei.com/161017142938348064.png@!standard_square_s">

        <div class="swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="width: 1.6rem; margin-right: 10px;"><a
                        href="http://mp.95laibei.com/Optimization/Detail/5470?nPreferredId=24" class="ui-link"
                        style="margin-bottom:0"><img alert="新增字段测试1"
                                                     src="http://cdn.product.img.95laibei.com/161008151017403337.jpg@!standard_square_s"></a>
                </div>
                <div class="swiper-slide" style="width: 1.6rem; margin-right: 10px;"><a
                        href="http://mp.95laibei.com/Optimization/Detail/5482?nPreferredId=24" class="ui-link"
                        style="margin-bottom:0"><img alert="商品购买库存测试"
                                                     src="http://cdn.product.img.95laibei.com/161009170108921695.jpg@!standard_square_s"></a>
                </div>
            </div>
        </div>
    </a>
</section>


    <ul class="optimization-goodstore-list productitem qxtopspace" id="PersonalInArticleList">
        <li class="item" id="hashitem_4490false">
            <div class="info clearfix" style=" border-bottom: 1px solid #ddd;">
                <div class="avatar businesslog"><img src="http://cdn.other.img.95laibei.com/160902144301424273.jpg@!standard_square_s"></div>
                <div class="nickname" style="width: 50%;">
                    <p class="name">童心飞扬<span></span></p>
                    <p class="time">7天前</p></div>
                <div class="price" style="    border: 1px solid red;    padding: 4px 8px;    border-radius: 8px;">
                    <span>¥ 95</span>
                </div>
            </div>
            <a href="http://mweb.95laibei.com/Product/Detail/4490" class="ui-link">
                <div class="productimg moreimg thumb">
                    <img src="http://cdn.product.img.95laibei.com/161010134256261021.jpg@!standard_square_m" alt="" style="    background: red;">
                    <img src="http://cdn.product.img.95laibei.com/161010134304337169.jpg@!standard_square_m" alt="">
                    <img src="http://cdn.product.img.95laibei.com/161010134310491386.jpg@!standard_square_m" alt="">
                </div>
            </a>
        </li>
    </ul>
</body>
</html>